<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Music Recognition Service</title>

    <meta name="description" content="">
    <meta name="author" content="Maciej Gamrat">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    {% block css %}{% endblock %}

    <script src="static/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//www.midijs.net/lib/midi.js" type="text/javascript"></script>
  </head>

  <body>
    {% block jumbo %}{% endblock %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    {% block js %}{% endblock %}
  </body>

</html>
