{% extends "_base.html" %}

{% block content %}

<h1>Image</h1>

<form action="/api/v1/images" method="post" enctype="multipart/form-data">
  <input type="file" name="image">
  <input type="submit" name="Upload">
</form>

<form action="/api/v1/image" method="delete" id="delform">
  <input type="text" name="id" id="delid" value="911c6ceb3c1e26503753dd8b26e476f7c58f8640">
  <input type="text" name="delete_token" id="deltoken" value="">
  <button>Delete</button>
</form>

<script type="text/javascript">
  $('#delform button').on('click', function deleteImage(e) {
    $.ajax({
      url: '/api/v1/image/' + $('#delid').val(),
      type: 'DELETE',
      data: {
        'delete_token': $('#deltoken').val(),
      },
    });
    return false;
  });
</script>

<h1>Artifacts</h1>

<form action="/api/v1/artifact/:image/:format" method="get">
  <input type="text" name="image" id="artifact_image" value="911c6ceb3c1e26503753dd8b26e476f7c58f8640">
  <select name="format" id="artifact_format">
    <option value="xml">XML</option>
    <option value="mid">MIDI</option>
    <option value="pdf">PDF</option>
  </select>
  <button name="GET" id="artifact_get">Get</button>
</form>

<script type="text/javascript">
  $('#artifact_get').on('click', function getArtifact(e) {
    $.ajax({
      url: '/api/v1/artifact/' + $('#artifact_image').val() + '/' + $('#artifact_format').val(),
      type: 'GET',
    });
    return false;
  });
</script>

<h1>Queue</h1>

<form action="/api/v1/queue" method="post">
  <input type="text" name="image" value="911c6ceb3c1e26503753dd8b26e476f7c58f8640">
  <label for="output_format">to</label>
  <select name="output_format" id="output_format">
    <option value="xml">XML</option>
    <option value="mid">MIDI</option>
    <option value="pdf">PDF</option>
  </select>
  <input type="submit" value="Post">
</form>

<form action="/api/v1/queue" method="get" id="qform">
  <input type="text" name="image" id="qimage" value="911c6ceb3c1e26503753dd8b26e476f7c58f8640">
  <input type="text" name="delete_token" id="qtoken" value="">
  <button type="button" id="qget">Get</button>
  <button type="button" id="qdelete">Delete</button>
</form>

<script type="text/javascript">
  $('#qget').on('click', function getTask(e) {
    $.ajax({
      url: '/api/v1/queue/' + $('#qimage').val(),
      type: 'GET',
    });
    return false;
  });
</script>

<script type="text/javascript">
  $('#qdelete').on('click', function deleteTask(e) {
    $.ajax({
      url: '/api/v1/queue/' + $('#qimage').val(),
      type: 'DELETE',
      data: {
        'delete_token': $('#qtoken').val(),
      },
    });
    return false;
  });
</script>

{% endblock %}
