{% extends "_base.html" %}

{% block jumbo %}
<div class="jumbotron">
    <div class="container">
        <h1>Piano Sheet Recognition</h1>
        <h2>
      Leverage the power of Optical Music Recognition on your piano sheet music!
      Convert your image to MIDI or MusicXML in 4 easy steps. For free.
    </h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div>

    <ul class="nav nav-tabs" role="tablist" id="steps">
        <li role="presentation" class="active">
            <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> Upload
            </a>
        </li>
        <li role="presentation">
            <a href="#format" aria-controls="format" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Settings
            </a>
        </li>
        <li role="presentation">
            <a href="#process" aria-controls="process" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Process
            </a>
        </li>
        <li role="presentation">
            <a href="#result" aria-controls="result" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Result
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="upload">
            <form class="form-inline">
                <div class="form-group">
                    <input type="file">
                </div>
                <button type="submit" class="btn btn-primary" id="btn-upload">Upload</button>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="format">
          <form class="form-inline">
            <button type="submit" class="btn btn-primary" data-output-format="mid">MIDI</button>
            <button type="submit" class="btn btn-primary" data-output-format="pdf">PDF</button>
            <button type="submit" class="btn btn-primary" data-output-format="xml">MusicXML</button>
          </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="process">
          <p class="status">No active task.</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
              <span class="sr-only">Processing</span>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="result">
          <a href="#" id="result_url" class="btn btn-primary">
            <span class="glyphicon glyphicon-download-alt"></span> Download the result
          </a>
          <span id="player">
            <a href="#" id="play_midi" class="btn btn-default">
              <span class="glyphicon glyphicon-play"></span> Play
            </a>
            <a href="#" id="stop_midi" class="btn btn-default">
              <span class="glyphicon glyphicon-stop"></span> Stop
            </a>
          </span>
        </div>
    </div>

</div>
{% endblock %} 

{% block js %}
<script src="static/js/main.js" type="text/javascript"></script>
{% endblock %}
